.main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 3rem;
  min-height: 100vh;
}

.title {
  margin-bottom: 100px;
}

@media (max-width: 400px) {
  .title {
    text-align: center;
  }
}